*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.over{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ov{
    width: 300px;
    height: 300px;
    position: relative;
     transform-style: preserve-3d;
    animation-name: abc;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.b{
    width: 300px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic{
    font-size: 200px;
}
@keyframes abc{
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.b1{
    background-color: rgba(252, 70, 4,0.6);
    transform: rotateX(90deg) translateZ(150px);
}
.b2{
    background-color: rgba(124, 240, 8,0.6);
     transform: rotateX(-90deg) translateZ(150px);
}
.b3{
    background-color: rgba(234, 234, 9,0.6);
    transform: rotateY(90deg) translateZ(150px);
}
.b4{
    background-color: rgba(171, 2, 2,0.6);
    transform: rotateY(-90deg) translateZ(150px);   
}
.b5{
    background-color: rgba(37, 37, 203,0.6);
    transform: rotateX(-180deg) translateZ(150px);
}
.b6{
    background-color: rgba(203, 37, 167, 0.6);
    transform: rotateX(0deg) translateZ(150px);
}